<html>
	<head>
		{% load staticfiles %}
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
		<title>
			{{ flatpage.title }}
		</title>
	</head>
	<body>
		{% load staticfiles %}
        <div id="header">	
                <table cellpadding="10" cellspacing="0" width="1000">
                    <tr>
                        <td width="150"><img src="/static/img/logo.png" width="150"></td>
                        <td width="850"><div class="logo">О Р Б И Т А</div></td>
                    </tr>
                </table>	
        </div>
        <div id="content">
            <form action="/script/" method="POST" class="form">
            	{% csrf_token %}
                <table cellpadding="0" cellspacing="15" width="1000">
                    <tr>
                        <td align="center" width="390"><span class="tah18">Параметр</span></td>
                        <td align="center" width="170"><span class="tah18">Единица измерения</span></td>
                        <td align="center" width="380"><span class="tah18">Значения</span></td>
                    </tr>
                    <tr>
                        <td colspan="3"><div class="padb20"><div class="line"></div></div></td>
                    </tr>
                    <tr>
                        <td><span class="title">Положение в пространстве</span></td>
                        <td></td>
                        <td align="right">
                            <span class="pad10 tah20">x </span><input name="PositionX" type="text" class="xyz">
                            <span class="pad10 tah20">y </span><input name="PositionY" type="text" class="xyz">
                            <span class="pad10 tah20">z </span><input name="PositionZ" type="text" class="xyz">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="title">Ориентация в пространстве</span></td>
                        <td></td>
                        <td align="right">
                            <span class="pad10 tah20">x </span><input name="OrientX" type="text" class="xyz">
                            <span class="pad10 tah20">y </span><input name="OrientY" type="text" class="xyz">
                            <span class="pad10 tah20">z </span><input name="OrientZ" type="text" class="xyz">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="title">Масса аппарата</span></td>
                        <td align="center"><span class="tah24">кг</span></td>
                        <td align="right">
                            <input name="shipMass" type="text" class="xyz">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="title">Масса топлива</span></td>
                        <td align="center"><span class="tah24">кг</span></td>
                        <td align="right">
                           <input name="fuelMass" type="text" class="xyz">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="title">Размер аппарата</span></td>
                        <td align="center"><span class="tah24">м</span></td>
                        <td align="right">
                            <input name="shipEdgeLength" type="text" class="xyz">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="title">Начальная скорость</span></td>
                        <td align="center"><span class="tah24">км/с</span></td>
                        <td align="right">
                            <span class="pad10 tah20">x </span><input name="speedFirstX" type="text" class="xyz">
                            <span class="pad10 tah20">y </span><input name="speedFirstY" type="text" class="xyz">
                            <span class="pad10 tah20">z </span><input name="speedFirstZ" type="text" class="xyz">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="title">Максимальные моменты вращения</span></td>
                        <td align="center"><span class="tah24">кг*м²</span></td>
                        <td align="right">
                            <span class="pad10 tah20">x </span><input name="maxRotationX" type="text" class="xyz">
                            <span class="pad10 tah20">y </span><input name="maxRotationY" type="text" class="xyz">
                            <span class="pad10 tah20">z </span><input name="maxRotationZ" type="text" class="xyz">
                        </td>
                        </tr>
                    <tr>
                        <td><span class="title">Максимальный массовый расход топлива</span></td>
                        <td align="center"><span class="tah24">кг/с</span></td>
                        <td align="right">
                            <input name="maxFuelUsagePerSec" type="text" class="xyz">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="title">Удельный импульс двигателя</span></td>
                        <td align="center"><span class="tah24">км/с</span></td>
                        <td align="right">
                            <input name="impulsePerFuel" type="text" class="xyz">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="title">Предельная перегрузка</span></td>
                        <td align="center"><span class="tah24">g</span></td>
                        <td align="right">
                            <input name="limitOverload" type="text" class="xyz">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="title">Максимальная температура при входе в атмосферу</span></td>
                        <td align="center"><span class="tah24">К</span></td>
                        <td align="right">
                            <input name="maxTemperature" type="text" class="xyz">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="title">Максимальное время полёта</span></td>
                        <td align="center"><span class="tah24">c</span></td>
                        <td align="right">
                            <input name="maxFlightTime" type="text" class="xyz">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="title">Количество квантов</span></td>
                        <td align="center"><span class="tah24"></span></td>
                        <td align="right">
                            <span class="pad10 tah20"></span><input name="numberOfQuants" type="text" class="xyz">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="title">Размер кванта (точность расчёта)</span></td>
                        <td align="center"><span class="tah24">с</span></td>
                        <td align="right">
                            <span class="pad10 tah20"></span><input name="quantSizeOfSec" type="text" class="xyz">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="title">Точность отображения</span></td>
                        <td align="center"><span class="tah24">с</span></td>
                        <td align="right">
                            <span class="pad10 tah20"></span><input name="displayPrecision" type="text" class="xyz">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"><div class="padb20"><div class="line padt40"></div></div></td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="15" width="1000">
                    <tr>
                        <td width="550" align="center" valign="top">
                            <span class="tah20 title">Программа</span><br><br>
                            <textarea name="Program" cols="50" rows="25" placeholder="Введите код программы"></textarea>
                        </td>
                        <td width="450" align="center" valign="top">
                            <span class="tah20 title">Инструкции</span><br><br>
                            <div class="rule">
                            В поле для ввода программы можно использовать только указанные ниже команды.<br><br>
                            Каждая команда должна быть написана на отдельной строчке.
                            </div><br><br>
                            <div class="rule">
                                <span class="yellow tah21">engine</span> <span class="lblue tah21">0..10000</span><br>
                                уровень массового расхода топлива(кг/с)<br><br>
                            </div>
                            <div class="rule">
                                <span class="yellow tah21">torqueX </span> <span class="lblue tah21">0..10000</span><br>
                                момент вращения вокруг оси Х<br><br>
                            </div>
                            <div class="rule">
                                <span class="yellow tah21">torqueY </span> <span class="lblue tah21">0..10000</span><br>
                                момент вращения вокруг оси Y<br><br>
                            </div>
                            <div class="rule">
                                <span class="yellow tah21">torqueZ </span> <span class="lblue tah21">0..10000</span><br>
                                момент вращения вокруг оси Z<br><br>
                            </div>							
                            <div class="rule">
                                <span class="yellow tah21">delay</span> <span class="lblue tah21">1..10000</span><br>
                                задержка в секундах<br><br>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><input type="submit" value="ПОЛУЧИТЬ СКРИПТ"/></td>
                    </tr>
                </table>
            </form>
        </div>		
		{{ flatpage.content }}
	</body>
</html>