<!DOCTYPE html>
<html lang=ru>
	<head>
		{% load staticfiles %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
		<title>
			{{ flatpage.title }}
		</title>
	</head>
	<body>
		{% load staticfiles %}
        <header>
            <div class="logo">ОРБИТА</div>
            <nav>
                <a class="nav-active" href="/"><img src="{% static "img/icons/icon1.png" %}" alt="">Главная</a>
                <a href="/calculator/"><img src="{% static "img/icons/icon2.png" %}" alt="">Калькулятор</a>
                <a href="/help/"><img src="{% static "img/icons/icon3.png" %}" alt="">Помощь</a>
            </nav>
        </header>
        <div class="content">
            <h2>Stem-игра "Орбита"</h2>
            Орбита» - это STEM-игра , которая знакомит участников с практическим применением точных наук в сфере космонавтики. Участники игры попробуют себя в роли С.П.Королева или Элона Маска: они будут конструировать и запускать на орбиту Земли микроспутники, а затем отслеживать их работу.
            <br /><br />
            Все действия игроков производятся в виртуальной среде и моделируются решением задач по физике, математике и информатике. Управление спутником также осуществляется путем решения задач: его необходимо вывести на рассчитанную орбиту, произвести съемку наземных и орбитальных объектов, и затем приземлиться в заданной точке.
            <br /><br />
            В игре «Орбита» могут принять участие учащиеся школ, начиная с 8 класса, а также студенты 1 или 2 курсов вузов. Студенты более старших курсов и любые желающие могут принять участие вне зачета в онлайн-туре. Для школьников и студентов предусмотрены разные задания и миссии.
            <br /><br />
            Важная особенность игры – ее командный характер. Для успешной работы конструкторского бюро участникам необходимо разделить обязанности внутри коллектива, а также наладить принципы руководства и распределения ответственности. Размер одной команды – 3–5 человек. 
        </div>
		{{ flatpage.content }}
	</body>
</html>