<html>
    <head>
        {% load staticfiles %}
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
        <title>
            {{ flatpage.title }}
        </title>
    </head>
    <body>
        {% load staticfiles %}
        <header>
            <div class="logo">ОРБИТА</div>
            <nav>
                <a href="/"><img src="{% static "img/icons/icon1.png" %}" alt="">Главная</a>
                <a href="/calculator/"><img src="{% static "img/icons/icon2.png" %}" alt="">Калькулятор</a>
                <a href="/help/"><img src="{% static "img/icons/icon3.png" %}" alt="">Справка</a>
            </nav>
        </header>
        <div class="content">
            <h2>Скрипт</h2>
            <div class="script">
                <textarea name="script" readonly>
                    {{ script }}
                </textarea>
            </div>
            <br />
            <div class="submit">
                <a class="a-btn" href="get_file"><input type="submit" value="СКАЧАТЬ"/></a>
                <a class="a-btn" href="/calculator"><input type="submit" value="ИЗМЕНИТЬ ДАННЫЕ"/></a>
                <a class="a-btn" href="/clear_form"><input type="submit" value="ВВЕСТИ НОВЫЕ ДАННЫЕ"/></a></div>
            </div>
        {{ flatpage.content }}
    </body>
</html>